<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id %><br />
    <%= f.collection_select(:ticket_id, Ticket.all,:id,:id) %>
  </div>
  <div class="field">
    <%= f.label :paid_status %><br />
    <%= f.check_box :paid_status %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br />
    <%= f.collection_select(:subtotal,Ticket.all,:subtotal,:subtotal) %>
  </div>
  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
